<h1>Insert Form Here</h1>

<form method="post" action="/create">
  <input type="text" name="message[number]">
  <input type="submit" value="phone number">
</form>

<a href="/make_message">make form</a>
