// Place all the styles related to the Calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
    width: 95%;
    margin: 0 auto;
    background-color: #d3d3d3;
}

#header h1 {
    font-family: Futura;
    font-size: 250%;
    letter-spacing: .0345em;
    margin-left: 5%;
    margin-bottom: 2%;
}

em {
  font-size: 150%;
  font-family: Garamond, Baskerville;
  color: red;
  letter-spacing: .0635em;

}

#calendar {

      width: 95%;
      margin: 0 auto;


}

#monday {
    width: 13.2857143%;
    text-align: center;
    float: left;
}

#tuesday {
    width: 14.2857143%;
    text-align: center;
    float: left;
}

#wednesday {
    width: 14.2857143%;
    text-align: center;
    float: left;
}

#thursday {
    width: 14.2857143%;
    text-align: center;
    float: left;
}

#friday {
    width: 14.2857143%;
    text-align: center;
    float: left;
}

#saturday {
    width: 14.2857143%;
    text-align: center;
    float: left;
}

#sunday {
    width: 14.2857143%;
    text-align: center;
    float: left;
}


div h4 {
      background-color: #d3d3d3;


}
h4 { font-family: Futura;}

h1 { font-family: Futura;}

body
#container {
  width: 50%;
  margin: 0 auto;
}

#cell {
   text-align: left;

}

#footer {
clear: both;
width: 95%;
margin: 0 auto;
background-color: #d3d3d3;
}



