<!DOCTYPE html>
<html>
<head>
  <title>CalendaRx</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

   <div id="header"><h1>Calenda<em>Rx</em></h1></div>

      <%= yield %>


    <div id="footer">
        <a href="reminders/make_message">reminder</a>
        <a href="calendars/new">home</a>
    </div>
</body>
</html>
